# Render / Django
SECRET_KEY=
DATABASE_URL=

# Google Maps / Routes
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_SERVER_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Opcionales
PUBLIC_BASE_URL=
EXTRA_ALLOWED_HOSTS=
EXTRA_CSRF_TRUSTED_ORIGINS=
NOMINATIM_USER_AGENT=DistricC-Tesis/1.0
RUTAS_MODO_PRUEBA_CLAVE=
CEDULA_LOOKUP_URL=
CEDULA_LOOKUP_TOKEN=
PDF_VALIDADOR_NOMBRES=
PDF_VALIDADOR_APELLIDOS=
PDF_VALIDADOR_DOCUMENTO=
PDF_VALIDADOR_CARGO=Responsable de validación
